<style>
  .error-messages.ng-active {
    background:maroon;
    color:white;
    padding:5px;
    border-radius:5px;
    margin-top:15px;
    position:relative;
  }
  .error-messages.ng-active:after {
    position:absolute;
    top:-10px;
    content:"";
    left:20px;
    border-style:solid;
    border-color:transparent transparent maroon;
    border-width:5px;
  }

</style>
<div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1>Authentication</h1>

            <div class="alert alert-danger" ng-show="authenticationError">
                <strong>Authentication failed!</strong> Please check your credentials and try again.
            </div>
            <form name="form" role="form" novalidate
                  class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                  ng-submit="login()">
                <div class="form-group">
                    <label for="username">Login</label>
                    <input type="text" class="form-control" name="username" id="username" ng-model="user.username" required>

                  <!--Implement ngMessages directive in Angular 1.3-->
                  <!--Removes the need to have error class below implementing ng-show -->
                  <div class="error-messages" ng-if="interacted(form.username)" ng-messages="form.username.$error"
                       >
                    <div ng-message="required">Your e-mail is required to be at least 5 characters.</div>
                    <div ng-message="minlength">Your e-mail is required to be at least 5 characters.</div>
                    <div ng-message="maxlength">Your e-mail cannot be longer than 100 characters.</div>
                  </div>


                </div>
                <div class="form-group">
                    <label for="password" >Password</label>
                    <input type="password" class="form-control" name="password" id="password" ng-model="user.password" required>

                  <!--Implement ngMessages directive in Angular 1.3-->
                  <!--Removes the need to have error class below implementing ng-show -->
                  <div class="error-messages" ng-if="interacted(form.password)" ng-messages="form.password.$error"
                    >
                    <div ng-message="required">Your password is required to be at least 5 characters.</div>
                    <div ng-message="minlength">Your password is required to be at least 5 characters.</div>
                    <div ng-message="maxlength">Your password cannot be longer than 100 characters.</div>
                  </div>
                  <password-strength-bar password-to-check="registerAccount.password"></password-strength-bar>

                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Authenticate</button>
            </form>
            <p></p>
            <!--<div>-->
              <!--<a href="#/settins">Update registration information</a>-->
            <!--</div>-->
            <!--<div>-->
              <!--<a href="#/passwordChange">Change password</a>-->
            <!--</div>-->
          <div>
            <a href="#/passwordReset">Reset password</a>
          </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

