<ion-view title="Main">
  <!--<ion-nav-buttons side="left">-->
  <!--<button menu-toggle="left"class="button button-icon icon ion-navicon"></button>-->
  <!--</ion-nav-buttons>-->
  <!--<ion-header-bar>-->
  <!--<h1 class="title">InCircle</h1>-->
  <!--<div class="buttons">-->
  <!--<button class="button button-clear" ng-click="closeLogin()">Close</button>-->
  <!--</div>-->
  <!--</ion-header-bar>-->
  <ion-content padding="true">

    <p>Main Landing Page!</p>


    <p>Hello World!</p>

  </ion-content>
</ion-view>
