<ion-header-bar class="bar bar-header bar-calm">
  <h1 class="title">Reset Password</h1>
  <button class="button icon" ng-click="closePasswordResetModal()">Cancel</button>
</ion-header-bar>
<ion-view>
  <ion-content has-header="true" padding="true" scroll="false">
<div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">

      <form name="form" role="form" novalidate
            class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength">

        <!-- EMAIL/USERNAME -->
        <!-- NESTED FORM -->
        <ng-form name="accountValidation" ng-show="showAccountValidationForm==true">
          <div class="form-group">
            <label>User Name/E-mail</label>
            <input type="email" class="form-control" name="username"
                   ng-model="resetPassword.username" ng-minlength=5
                   ng-maxlength=100 required>

            <div class="error"
                 ng-show="form.username.$dirty && form.username.$invalid">

              <small class="error" ng-show="form.username.$error.required">
                Your e-mail is required.
              </small>
              <small class="error" ng-show="form.username.$error.username">
                Your e-mail is invalid.
              </small>
              <small class="error" ng-show="form.username.$error.minlength">
                Your e-mail is required to be at least 5 characters
              </small>
              <small class="error" ng-show="form.username.$error.maxlength">
                Your e-mail cannot be longer than 100 characters
              </small>
            </div>
          </div>
          <button ng-click="showAccountSecurityQuestions()" ng-disabled="form.accountValidation.$invalid" class="btn btn-primary">Next > </button>
        </ng-form>

        <!-- SECURITY QUESTIONS -->
        <!-- NESTED FORM -->
        <ng-form name="accountSecurityQuestions" ng-show="showAccountSecurityQuestionsForm==true" >

          <div class="form-group">

            <label>Security Questions</label>

            <div>
      <span ng-show="form.accountSecurityQuestions.$invalid">
       Please complete the 3 security questions below.
     </span>
            </div>

            <label>Security Questions #1</label>
            <div>

              <label ng-bind="question_1"></label>


              <br/>
              <input type="text" class="form-control" name="answer1" ng-model="resetPassword.answer1"
                     ng-minlength=1 required>
            </div>
            <label>Security Questions #2</label>
            <div>
              <label ng-bind="question_2"></label>

              <br/>
              <input type="text" class="form-control" name="answer2" ng-model="resetPassword.answer2"
                     ng-minlength=1 required>
            </div>
            <label>Security Questions #3</label>
            <div>
              <label ng-bind="question_3"></label>

              <br/>
              <input type="text" class="form-control" name="answer3" ng-model="resetPassword.answer3"
                     ng-minlength=1 required>
            </div>
          </div>
            <button ng-click="showAccountPasswordReset()" ng-disabled="form.accountSecurityQuestions.$invalid" class="btn btn-primary">Reset Password</button>

        </ng-form>


        <ng-form name="accountPasswordReset" ng-show="showAccountPasswordResetForm==true">

          <!-- NEW PASSWORD -->
          <div class="form-group">
            <label>New password</label>
            <input type="password" class="form-control" name="newPassword" ng-model="resetPassword.newPassword" ng-minlength=5
                   ng-maxlength=50 required>

            <div class="error" ng-show="form.accountPasswordReset.newPassword.$dirty && form.accountPasswordReset.newPassword.$invalid">
              <small class="error" ng-show="form.accountPasswordReset.newPassword.$error.required">
                Your password is required.
              </small>
              <small class="error" ng-show="form.accountPasswordReset.newPassword.$error.minlength">
                Your password is required to be at least 5 characters
              </small>
              <small class="error" ng-show="form.accountPasswordReset.newPassword.$error.maxlength">
                Your password cannot be longer than 50 characters
              </small>
            </div>
            <password-strength-bar password-to-check="resetPassword.newPassword"></password-strength-bar>
          </div>

          <!-- NEW PASSWORD CONFIRMATION-->
          <div class="form-group">
            <label>New password confirmation</label>
            <input type="password" class="form-control" name="confirmedNewPassword" ng-model="resetPassword.confirmedNewPassword" ng-minlength=5
                   ng-maxlength=50 required>

            <div class="error"
                 ng-show="form.confirmedNewPassword.$dirty && (form.confirmedNewPassword.$invalid || model.confirmedNewPassword != model.newPassword)">
              <small class="error" ng-show="confirmedNewPassword !== registerAccount.password">
                Your passwords don't match. {{ confirmedNewPassword }} != {{registerAccount.password}}
              </small>
              <small class="error" ng-show="form.confirmedNewPassword.$error.required">
                Your password confirmation is required.
              </small>
              <small class="error" ng-show="form.confirmedNewPassword.$error.minlength">
                Your password confirmation is required to be at least 5 characters
              </small>
              <small class="error" ng-show="form.confirmedNewPassword.$error.maxlength">
                Your password confirmation cannot be longer than 50 characters
              </small>
            </div>
          </div>
          <button ng-click="passwordReset()" ng-disabled="form.accountPasswordReset.$invalid" class="btn btn-primary">Reset Password</button>
        </ng-form>


      </form>
    </div>

    <div class="col-md-4"></div>
  </div>

</div>
  </ion-content>
</ion-view>
